---

const { 
	description = 'description', 
	pageTitle = 'pageTitle', 
	slug = 'https://example.com' 
} = Astro.props;

---

<head>
	<title>{pageTitle}</title>
	<meta name="description" content={description} />
	<meta
		name="robots"
		content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
	/>
	<link rel="canonical" href={`${slug}/${pageTitle}`} />
</head>