---

import { getCollection } from "astro:content";
import Layout from "@layouts/default/Layout.astro";

const allPosts = await getCollection("blogs");
const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

const pageTitle = "Tag Index";

---


<Layout>
    
    {pageTitle}
    {uniqueTags.map((tag) => <p>{tag}</p>)}

</Layout>